
.maindiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-top: 5%;
    background-color: rgba(158, 160, 161, 0.644);
    border: 1px solid rgb(95, 91, 91);
    border-radius: 20px;
    box-shadow: 7px 7px  6px 6px rgb(60, 61, 60);
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    


}
#type{
    height: 30px;
    width: 200px;
    background-color: rgb(247, 248, 247);
    font-size: 1rem;
    
}


#Compare{
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    margin-top: 40px;
    background-color: rgb(123, 168, 123);
    box-shadow: 1px 1px black;
    border-radius: 10px;

}
#text-display-div{
    margin-top: 30px;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    
}
#text{
    height: 200px;
    width: 500px;
    margin: 20px;
    background-color: rgb(161, 168, 168);
    box-shadow: 7px 7px  6px 6px rgb(60, 61, 60);
    border-radius: 20px;
    
}

#image-display-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

#image{
    height: 350px;
    width: 500px;
    margin: 20px;
    background-color: rgb(161, 168, 168);
    box-shadow: 7px 7px  6px 6px rgb(60, 61, 60);   
    border-radius: 20px;

}
